---
	import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
	import Shell from '../layouts/Shell.astro';
---

<Shell title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1>work page WIP</h1>
</Shell>