---
	import HeaderLink from './HeaderLink.astro';

	const pages = [
		{ name: 'home', href: '/' },
		{ name: 'writing', href: '/blog/' },
		{ name: 'coding', href: '/portfolio/' },
		{ name: 'working', href: '/cv/' },
		{ name: 'being', href: '/about/' },
		{ name: 'digital gardening 🔗', href: 'https://www.nicolesgarden.digital' }
	]
---

<header>
	<nav>
		{pages.map(page => <HeaderLink href={page.href}>{page.name}</HeaderLink>)}
	</nav>
</header>
<style></style>