---
    import { typographyAccent, typographyPrimary } from '../styles/styles';
---

<p class="text-3xl tracking-tight">
    <span class={`inline ${typographyPrimary}`}>nicole</span>
    <span class={`inline ${typographyAccent}`}>is</span>
</p>