---
    import BaseHead from '../components/BaseHead.astro';
    import Header from '../components/Header.astro';
    import Footer from '../components/Footer.astro';
    import { backgroundPrimary } from '../styles/styles';
    import BasicScripts from '../components/core/BasicScripts.astro';
    import PageContentShell from '../components/PageContentShell.astro';

    export interface Props {
        title: string;
        description: string;
    }

    const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="en-us">

<head>
    <BaseHead title={title} description={description} />
    <script>
            let theme = localStorage.getItem('theme');
            if (!theme) theme = 'light';
            localStorage.setItem("theme", theme);
            document.documentElement.classList.add(theme);
        </script>
</head>

<body class={`flex h-full ${backgroundPrimary}`}>

    <div class="viewport flex flex-col min-h-screen justify-between overflow-x-hidden w-full">
        <Header title={title} />
        <main class='mt-24'>
            <PageContentShell>
                <slot />
            </PageContentShell>
        </main>
        <Footer />
    </div>
    <BasicScripts />
</body>

</html>